#main {
    font-family: Outfit;
    background-color: hsl(212, 45%, 89%);
}

#main p {
    font-size: 15px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#qrcode {
    margin-left: auto;
    margin-right: auto;
}
